[submodule "zsh/.zsh/.oh-my-zsh"]
	path = zsh/.zsh/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "zsh/.zsh/themes/powerlevel10k"]
	path = zsh/.zsh/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "zsh/.zsh/plugins/zsh-autosuggestions"]
	path = zsh/.zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/.zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/.zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/.zsh/plugins/zsh-history-substring-search"]
	path = zsh/.zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "zsh/.zsh/zsh/.zsh/plugins/zsh-history-substring-search"]
	path = zsh/.zsh/zsh/.zsh/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "zsh/.zsh/zsh-autosuggestions"]
	path = zsh/.zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/.zsh/zsh/.zsh/.oh-my-zsh"]
	path = zsh/.zsh/zsh/.zsh/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
